{% if page.layout == "post" %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "{{ page.title | escape }}",
  "description": "{{ page.description | strip_html | strip_newlines | escape }}",
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  {% if page.image contains 'http' %}
  "image": "{{ page.image }}",
  {% else %}
  "image": "{{ site.url }}{{ site.baseurl }}/{{ page.image }}",
  {% endif %}
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ site.url }}{{ page.url }}"
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{ site.title }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site.url }}{{ site.baseurl }}/assets/images/logo.png"
    }
  }
}
</script>
{% endif %}
