---
title: "Categories"
layout: default
---

<section class="recent-posts">
  <div class="section-title">
    <h2><span>Posts by Category</span></h2>
  </div>

  <div class="row listrecent">
    {% assign sorted_categories = site.categories | sort %}
    {% for category in sorted_categories %}
      <div class="section-title col-md-12 mt-4">
        <h3 id="{{ category[0] | replace: ' ', '-' | downcase }}" class="text-capitalize">{{ category[0] }}</h3>
      </div>

      {% assign pages_list = category[1] %}
      {% for post in pages_list %}
        {% if post.title %}
          {% include postbox.html %}
        {% endif %}
      {% endfor %}
      {% assign pages_list = nil %}
    {% endfor %}
  </div>
</section>
